@font-face {
    font-family: 'NeueKabel-Book';
    src: url('../fonts/NeueKabel-Book.otf');
}

@font-face {
    font-family: 'NeueKabel-Regular';
    src: url('../fonts/NeueKabel.otf');
}

body {
    font-family: 'NeueKabel-Regular', Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #F2F2F2;
    margin: auto;
    padding: auto;
    overflow-x: hidden;
}

.singlepage {
    box-sizing: border-box;
    border: 4vh solid white;
    text-align: left;
    height: 100vh;
    width: 100vw;
    position:fixed;
}


@media (orientation: portrait) {


.bgtext {
    font-family: 'NeueKabel-Book', Helvetica, sans-serif;
    font-size: 20vh;
    position: fixed;
    color: #707070;
    opacity: 14%;
    user-select: none;
    z-index: 0;
}
    
.workpage {
    box-sizing: border-box;
    border: 4vh solid white;
    height: 220vh;
    width: 100vw;
}
    
.hello {
    top: -20vh;
}
    
.there {
    top: -1vh;
}
    
.about {
    top: -20vh;
    left: 0;
}
    
.contact {
    font-size: 27vw;
    bottom: -10vw;
}
    
.work {
    position: absolute;
    top: -12vh;
}

.portraits {
    position: absolute;
    top: 90vh;
    left: 10vw;
    font-size: 20vw;
    z-index: 90;
}

.posterdesign {
    position: absolute;
    top: 150vh;
    font-size: 15vw;
    z-index: 90;
}

.scrolldiv {
    position:absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 75vh;
}

.scrolltxt {
    font-size: 6vw;
    user-select: none;
    color: #707070;
    opacity: 40%;
    margin: 0;
}
    
.scrollarrow {
    width: auto;
    height: 6vw;
    color: #707070;
    opacity: 40%;
}
    
.link {
    color: #707070;
    opacity: 30%;
    font-size: 5vh;
} 
    
/**              **/

.topnav {
    position: fixed;
    bottom: 6vw;
    width: 100%;
    z-index: 100;
}
    
.topnav a {
    float: right;
    width: 30.6vw;
    padding: auto;
    text-align:center;
    text-decoration: none;
    font-size: 5vw;
    color: black;
    user-select:none;
}
    
#navhome {
    display: flex;
    width: auto;
    height: 10vw;
    position: fixed;
    left:45vw;
    bottom: 15vw;
    z-index: 100;
}
    
#indextxt {
    font-size: 5vh;
    position: fixed;
    top: 40vh;
    left: 10vw;
}
    
#abouttext {
    font-size: 2vh;
    position: fixed;
    top: 65vh;
    left: 10vw;
    width: 80vw;
    user-select: none;
    z-index: 0;
}
    
#portrait {
    position: fixed;
    top: 20vh;
    left: 13vw;
    height: auto;
    width: 74vw;
}
    
#email_icon {
    position: fixed;
    opacity: 30%;
    width: auto;
    height: 65vw;
    left: -32vw;
}
    
#mailtext {
    position: fixed;
    left: 40vw;
    top: 26vw;
    font-size: 4.5vw;
}
    
#ig_icon {
    position: fixed;
    opacity: 30%;
    width: auto;
    height: 65vw;
    right: -30vw;
    top: 60vw;
}
    
#igtext {
    text-align: right;
    position: fixed;
    right: 33vw;
    top: 80vw;
    font-size: 4.5vw;
}
    
#portraits_titlecard {
    position: absolute;
    top: 110vh;
    float: right;
    right: 20vh;
    width: 40vw;
    height: auto;
}

#posterdes_titlecard {
    position: absolute;
    top: 165vh;
    float: right;
    right: 18vh;
    width: 40vw;
    height: auto;
}

}
@media (orientation: landscape) {

.bgtext {
    font-family: 'NeueKabel-Book', Helvetica, sans-serif;
    font-size: 60vh;
    position: absolute;
    color: #707070;
    opacity: 14%;
    user-select: none;
    z-index: 0;
    pointer-events: none;
}
    
.workpage {
    box-sizing: border-box;
    border: 4vh solid white;
    height: 300vh;
    width: 100vw;
}

.hello {
    top: -80vh;
}

.there {
    top: -12vh;
}

.about {
    top: -80vh;
    left: -5vh;
}

.contact {
    top: 20vh;
    font-size: 45vh;;
}

.work {
    position: absolute;
    top: -75vh;
}

.portraits {
    position: absolute;
    top: 60vh;
    left: 10vw;
    font-size: 40vh;
    z-index: 90;
}

.posterdesign {
    position: absolute;
    top: 190vh;
    font-size: 25vh;
    z-index: 90;
}

.scrolldiv {
    position:absolute;
    width: 100%;
    height: auto;
    text-align: center;
    top: 80vh;
}

.scrolltxt {
    font-size: 5vh;
    user-select: none;
    color: #707070;
    opacity: 40%;
    margin: 0;
}
    
.scrollarrow {
    width: auto;
    height: 6vh;
    color: #707070;
    opacity: 40%;
}
    
.link {
    color: #707070;
    opacity: 30%;
    font-size: 5vh;
} 

.topnav {
    position: fixed;
    right: 4vh;
    z-index: 100;
    top: 4vh;
}

.topnav a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3.8vh;
    color: black;
    user-select:none;
}

.carousel {
    align-content: center;
    top: 50%;
}

#navhome {
    position: fixed;
    display: flex;
    z-index: 100;
    height: 8vh;
    width: 8vh;
    padding: 1vh 1vh;
}

#indextxt {
    font-size: 10vh;
    position: fixed;
    top: 35vh;
    left: 30%;
}

#abouttext {
    font-size: 1.5vw;
    position: fixed;
    top: 40vh;
    left: 38vw;
    width: 50vw;
}

#portrait {
    position: fixed;
    top: 40vh;
    left: 10vw;
    height: auto;
    width: 30vw;
}

#email_icon {
    position: fixed;
    opacity: 30%;
    width: auto;
    height: 50vh;
    left: -20vh;
}

#mailtext {
    position: fixed;
    left: 37vh;
    top: 18vh;
    font-size: 3vh;;
}

#ig_icon {
    position: fixed;
    opacity: 30%;
    width: auto;
    height: 50vh;
    right: -20vh;
    top: 25vh
}

#igtext {
    position: fixed;
    right: 30vh;
    bottom: 45vh;
    font-size: 3vh;
}

#portraits_titlecard {
    position: absolute;
    top: 110vh;
    float: right;
    right: 20vh;
    width: auto;
    height: 90vh;
}

#posterdes_titlecard {
    position: absolute;
    top: 213vh;
    float: right;
    right: 50vh;
    width: auto;
    height: 80vh;
}

}